# AI ML ASSIGNMENT 1

# TASK 1

In [1]:
#Create a pandas dataframe(Dataframe name as df)with numpy random values (4 features and 4 observations)

In [3]:
import pandas as pd
import numpy as np

#create DataFrame
df = pd.DataFrame(np.random.randint(0,100,size=(4,4)), columns=list('ABCD')) 

#view DataFrame
print(df)

    A   B   C   D
0  78  76  36  99
1  19  79   3  92
2   4  81  50  49
3  40   6  47  84

# TASK 2

In [4]:
#Rename the task-1 'df' dataframe column names to 'Random value-1','Random value-2','Random value-3',and 'Random value-4'

In [5]:
df.rename(columns={'A':'Random value-1','B':'Random value-2','C':'Random value-3','D':'Random value-4'},inplace=True)

In [6]:
print(df)

   Random value-1  Random value-2  Random value-3  Random value-4
0              78              76              36              99
1              19              79               3              92
2               4              81              50              49
3              40               6              47              84

# TASK-3

In [7]:
#Find the descriptive statistics of the 'df' dataframe.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value-1  4 non-null      int32
 1   Random value-2  4 non-null      int32
 2   Random value-3  4 non-null      int32
 3   Random value-4  4 non-null      int32
dtypes: int32(4)
memory usage: 192.0 bytes

In [9]:
df.describe()

       Random value-1  Random value-2  Random value-3  Random value-4
count        4.000000        4.000000        4.000000        4.000000
mean        35.250000       60.500000       34.000000       81.000000
std         32.097508       36.391391       21.525179       22.196096
min          4.000000        6.000000        3.000000       49.000000
25%         15.250000       58.500000       27.750000       75.250000
50%         29.500000       77.500000       41.500000       88.000000
75%         49.500000       79.500000       47.750000       93.750000
max         78.000000       81.000000       50.000000       99.000000

In [10]:
df.mean()

Random value-1    35.25
Random value-2    60.50
Random value-3    34.00
Random value-4    81.00
dtype: float64

In [11]:
df.median()

Random value-1    29.5
Random value-2    77.5
Random value-3    41.5
Random value-4    88.0
dtype: float64

In [12]:
df.mode()

   Random value-1  Random value-2  Random value-3  Random value-4
0               4               6               3              49
1              19              76              36              84
2              40              79              47              92
3              78              81              50              99

# TASK-4

In [13]:
#Check for the null values in 'df' and find the datatypes of columns

In [14]:
df.isnull().any()

Random value-1    False
Random value-2    False
Random value-3    False
Random value-4    False
dtype: bool

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value-1  4 non-null      int32
 1   Random value-2  4 non-null      int32
 2   Random value-3  4 non-null      int32
 3   Random value-4  4 non-null      int32
dtypes: int32(4)
memory usage: 192.0 bytes

# TASK-5

In [16]:
#Display the random value2 and random value3 columns with location method and index location method.

In [28]:
# index location method
df.iloc[:,1:3]

   Random value-2  Random value-3
0              76              36
1              79               3
2              81              50
3               6              47

In [37]:
df.loc[:,'Random value-2':'Random value-3']

   Random value-2  Random value-3
0              76              36
1              79               3
2              81              50
3               6              47

In [38]:
#Thank you...